.footer {
	width: 100%;
	height: 6rem;
	background-color: $color-primary;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(134, 135, 146, 1);
	-moz-box-shadow: 0px 0px 8px 2px rgba(134, 135, 146, 1);
	box-shadow: 0px 0px 8px 2px rgba(134, 135, 146, 1);
}
