.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

    &__slider {
        height: 6.875rem;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    &__track {
        position: relative;
        -webkit-animation: scroll 25s linear infinite;
        animation: scroll 25s linear infinite;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(160px * 10);

        @include medium {
            width: calc(250px * 10);
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    &__slide {
        height: 6.25rem;
        width: 15.625rem;

        img {
            width: 110px;
            height: 80px;
        }
    }
}

@-webkit-keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@keyframes scroll {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0 1rem 0;
    color: $color-primary;
}