.store {
	width: 100%;
	height: 100%;
	margin: 9rem 0 3rem 0;

	&__title {
		font-size: 2.25rem;
		margin-bottom: 3rem;
		color: $color-secondary;
		text-shadow: -1px 2px 1px rgba(171, 171, 171, 1);
		@include small {
			font-size: 2.75rem;
		}

		@include medium {
			font-size: 2.75rem;
		}
	}
}
