.store {
	width: 100%;
	height: 100%;
	margin-top: 9rem;

	&__title {
		font-size: 2.5rem;
		margin-bottom: 4rem;
		@include small {
			font-size: 2.75rem;
		}

		@include medium {
			font-size: 3rem;
		}
	}
}
