.summary {
    min-height: 100vh;
	margin: 9rem 0 3rem 0;

    &__cart {
        border: 2px solid $color-secondary;
        background-color: lightyellow;
        border-radius: 0.35rem;
        padding: 1rem;
        margin-bottom: 2rem;

        @include xlarge {
            margin-bottom: 0;
        }
    }

    &__address {
        border: 2px solid $color-secondary;
        border-radius: 0.35rem;
        padding: 1rem;
    }

    &__back {
        font-weight: 600;
        cursor: pointer;
        transition: all 250ms;
        margin-bottom: 1.5rem;

        &:hover {
            color:$color-primary;
        }
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem 0 0.5rem;

        h2 {
            font-size: 1.75rem;
            font-weight: 500;
            margin-bottom: 0.75rem;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            color: white;
            width: 2rem;
            height: 1.5rem;
            background-color: $color-primary;
            border-radius: 1rem;
            margin-bottom: 0.75rem;
        }
    }

    &__billing {
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 0.75rem;
    }
}