
@mixin small {
    @media (min-width: 480px) {
      @content;
    }
  }
  
  @mixin medium {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin large {
    @media (min-width: 976px) {
      @content;
    }
  }

  @mixin xlarge{
    @media (min-width: 1440px) {
      @content;
    }
  }