html {
	font-family: 'Karla', sans-serif;;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

//* Colors
$color-primary: #f9b041;
$color-secondary: #AA3328;
$color-white: #FFFFFF;
$color-black: #000000;

//* Height & Width
$nav-height: 5rem;